<!-- ko with: home -->

<div class="row">
    <div class="HomeNavigation col-md-1" id="homeNavigation">
        <ul>
            <li style="height:50px">
                
            </li>
            @*<li>
                <a class="active" href="#Assistant" id="userHomeNavigationAssistant">
                    <span style="top: -12px">
                        <div>
                            <svg width="24px" height="24px"><path d="M19 2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h4l3 3 3-3h4c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-5.12 10.88L12 17l-1.88-4.12L6 11l4.12-1.88L12 5l1.88 4.12L18 11l-4.12 1.88z"></path></svg>
                        </div>
                        <div>Assistant</div>
                    </span>
                </a>
            </li>*@
            <li>
                <a href="#UserPhotos" id="userHomeNavigationPhoto" class="active">
                    <span style="top: -12px">
                        <div>
                            <svg width="24px" height="24px" class="JUQOtc" viewBox="0 0 24 24"><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"></path></svg>
                        </div>
                        <div>Photos</div>
                    </span>
                </a>
            </li>
            @*<li>
                <a href="#contact" id="userHomeNavigationAlbum">
                    <span style="top: -12px">
                        <div><svg width="24px" height="24px" class="JUQOtc" viewBox="0 0 24 24"><path d="M4 6H2v14c0 1.1.9 2 2 2h14v-2H4V6z M20 2H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 10l-2.5-1.5L15 12V4h5v8z"></path></svg></div>

                        <div>Albums</div>
                    </span>
                </a>
            </li>*@
        </ul>
    </div>
    <div class="col-md-11">
        <div id="homeUserPhtotos"></div>
    </div>
</div>





<!-- /ko -->
