body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

@media (min-width: 800px) {
    .UserProfileHeader.profileHeader .profileImage, .UserProfileHeader.profileHeader .profileImage img {
        height: calc(33 * 6px);
        width: calc(33 * 7px);
    }
}

.icon-arrow-right {
    background-position: -264px -96px;
}

.datepicker.dropdown-menu {
    width: 15%;
}

.modal-content {
    width: 600px !important;
    margin: 30px auto !important;
}

.UserEdit .form-group .control-label {
    font-size: 14px;
    text-align: left;
}

.Interest .interestMaskAndWrapper .interestWrapper img {
    background: #fff center;
    background-size: cover;
    border-radius: 6px;
    display: block;
    height: 100%;
    opacity: .8;
    position: relative;
    -webkit-transition: opacity .1s ease-in-out;
    transition: opacity .1s ease-in-out;
    width: 100%;
}

    .Interest .interestMaskAndWrapper .interestWrapper img:hover {
        opacity: 1;
    }

.UserInfoBar .tabs .label {
    text-align: left;
    padding-left: 0px;
}

.UserInfoBar li a.active .value {
    color: #555 !important;
    text-decoration: none;
}

.UserInfoBar li a.active {
    text-decoration: none;
}

.UserInfoBar li a:hover {
    color: #555 !important;
    text-decoration: none;
}




.HomeNavigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*background-color: #f1f1f1;*/
    position: fixed;
    height: 100%;
    overflow: auto;
}

.HomeNavigation li a {
    display: block;
    color: rgba(0, 0, 0, 0.52);
    fill: rgba(0, 0, 0, 0.52);
    padding: 8px 16px;
    text-decoration: none;
}

    .HomeNavigation li a.active {
        display: block;
        color: #d2322d;
        fill: #d2322d;
        padding: 8px 16px;
        text-decoration: none;
    }

    .HomeNavigation li a.active {
        /*background-color: #d9534f;*/
        /*color: white;*/
    }

    .HomeNavigation li a:hover:not(.active) {
        background-color: #e86460;
        color: white;
        fill: white;
    }

.UserShareButton {
    display: block !important;
    width: 100% !important;
}

.PhotosTopMargin {
    margin-top: 20px !important;
}

.PhotosShareBtn {
    top: 10%;
    left: 5%;
    display: none;
    border-radius: 6px !important;
    background: #d2322d !important;
    margin: 5px 5px !important;
    position: absolute !important;
    width: 50px !important;
    height: 50px !important;
    z-index: 200;
    padding: 7px 7px !important;
}

    .PhotosShareBtn:hover {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        height: 100%;
        left: 5%;
        position: absolute;
        top: 10%;
        width: 100%;
        z-index: 100;
        display: block !important;
    }

    .PhotosShareBtn img {
        border-radius: 4px !important;
        background: #d2322d center !important;
        opacity: 1 !important;
    }

.ui-autocomplete {
    position: absolute;
    cursor: default;
    z-index: 4000 !important;
    border: 1px solid #c5c5c5;
    background: #ffffff;
    color: #333333;
    /*width: 12em;*/
    max-height: 100%;
    line-height: 2em;
    overflow: scroll;
    overflow-x: hidden;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, "ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro W3", "Hiragino Kaku Gothic Pro", ãƒ¡ã‚¤ãƒªã‚ª, Meiryo, "ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯", arial, sans-serif;
}

.ui-helper-hidden-accessible {
    display: none;
}

.ui-autocomplete-loading {
    background: white url('Images/ui-anim_basic_16x16.gif') right center no-repeat;
}

.userAutoComplete {
    color: black;
    height: 70px;
    padding-top: 10px;
    padding-left: 10px;
    border-bottom: 1px solid #c5c5c5;
}

    .userAutoComplete:hover {
        background: #efefef;
        /*border-style: ridge;*/
    }

.autocompleteProfileImageWrapper {
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
    width: 50px;
}

    .autocompleteProfileImageWrapper img {
        height: 100% !important;
        width: 100% !important;
    }

.autocompleteUserName {
    vertical-align: initial;
}

.followAutoComplete {
    color: black;
    height: 120px;
    padding-top: 10px;
    padding-left: 10px;
    border-bottom: 1px solid #c5c5c5;
}

    .followAutoComplete:hover {
        background: #efefef;
    }

.autocompleteFollowImageWrapper {
    overflow: hidden;
    border-radius: 10%;
    display: inline-block;
    height: 100px;
    margin-right: 10px;
    vertical-align: middle;
    width: 100px;
}


    .autocompleteFollowImageWrapper img {
        height: 100% !important;
        width: 100% !important;
    }

.autocompleteFollowName {
    /* vertical-align: initial; */
    /* float: right; */
    /* top: 50px; */
    position: relative;
    left: 150px;
    top: -85px;
}

.autocompleteFollowFullName {
    font-weight: bold;
    /* float: right; */
    top: -85px;
    position: relative;
    left: 150px;
}

.ui-autocompleteFollowup {
    color: #333333;
    /*width: 12em;*/
    max-height: 320px;
    line-height: 2em;
    overflow: scroll;
    overflow-x: hidden;
}

.ui-autocompleteUser {
    color: #333333;
    max-height: 180px;
    line-height: 2em;
    overflow: scroll;
    overflow-x: hidden;
}

.ui-notification {
    width: 24px;
    height: 28px;
    top: 9px;
    background: url('Images/webapp-common.png') -201px -260px no-repeat;
}

.notifyjs-happyblue-base {
  white-space: nowrap;
  background-color: lightblue;
  padding: 5px;
}
.notifyjs-happyblue-superblue {
  color: white;
  background-color: blue;
}

.ui-notificationLink .notifyjs-bootstrap-success {
    color: #d2322d;
    background-color: #fff;
    border-color: #ac2925;
    background-image: none;
    right: 10px !important;
    position: fixed;
   top: 43px;
}